@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#bodyApp {
  display: flex;
  min-height: 100vh;
  background-color: #e3e9f7;
}

#mainApp {
  z-index: 1;
  padding-left: calc(82px + 20px);
  /* Espaço da sidebar */
  padding-right: 20px;
  /* Recomendado: um respiro na direita */
  flex: 1;
  /* FAZ OCUPAR TODO O ESPAÇO RESTANTE */
  display: flex;
  flex-direction: column;
  /* Alinha Navbar, H1 e Gráficos verticalmente */
  min-width: 0;
  /* Evita que o flex-item quebre o layout com conteúdos largos */
}

#page_infos {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}

#page_infos span:first-child {
  font-size: 25px;
}

#page_infos span:last-child {
  color: #6b6b6b;
  font-size: 13px;
}