#container-timefilter{
    display: flex;
    gap: 10px;
    padding: 5px;
    align-items: center; /* Garante que inputs e botões tenham a mesma base central */
}

input[type="datetime-local"]{
    background-color: #ffffff;
    padding: 4px;
    font-family: "Roboto Mono",monospace;
    color: #0a0a0a;
    border: 1px solid;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.mybutton{
    padding-right: 4px;
    background-color: #4f46e5;
    border-radius: 20px;
    border: 1px solid #0a0a0a;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out; /* Define a suavidade da animação */
}

.mybutton:hover {
    /* O valor 1.05 significa que ele crescerá 5% do tamanho original */
    transform: scale(1.05); 
}

.mybutton:active {
    /* Opcional: faz ele "encolher" um pouquinho quando clicado, simulando um clique real */
    transform: scale(0.98);
}

/* Classe para quando o streaming estiver desativado */
.mybutton.disabled-stream {
    background-color: #6b6b6b; /* Cinza */
    opacity: 0.8;
}

/* Ajuste para que o ícone acompanhe a estética se desejar */
.mybutton.disabled-stream i {
    filter: grayscale(1); 
}

.mybutton i{
    background-color: #ffffff;
    padding: 6px;
    color: #0a0a0a;
    font-size: medium;
    border-right: 1px solid #0a0a0a;
    border-radius: 20px;
}