#container-timefilter{
    display: flex;
    gap: 5px;
    padding: 5px;
}

input[type="datetime-local"]{
    background-color: #ffffff;
    padding: 2px;
    font-family: "Roboto Mono",monospace;
    color: #0a0a0a;
    border: 1px solid;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}

.mybutton{
    padding-right: 4px;
    background-color: #4f46e5;
    border-radius: 20px;
    border: 1px solid #0a0a0a;
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
}

.mybutton i{
    background-color: #ffffff;
    padding: 6px;
    color: #0a0a0a;
    font-size: medium;
    border-right: 1px solid #0a0a0a;
    border-radius: 20px;
}